body {
  margin: 0;
}

#mapid{
    background: #CCC;
    position: absolute;
  
    top: 46px;
    bottom: 0px;
    left: 0px;
  
    width: 75%;
  
  }

  #right {
    position: absolute;
    background-color: cadetblue;
    top: 45px;
    right: 0px;
    bottom: 0px;
    width: 25%;
  }

  #elementos {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #elementos h2 {
    text-align: center;
  }

  #btnEstacionamientos, #btnComercios {
    text-align: center;
    margin-bottom: 5px;
    width: 120px;
    height: 55px;
  }

  #infoComercio1, 
  #infoComercio2, 
  #infoComercio3, 
  #infoComercio4, 
  #infoAuto {
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #imgMcDonalds{
    margin-left: 10px;
  }

  #imgBurgerKing{
    margin-left: 15px;
  }

  #imgMostaza{
    margin-left: 10px;
  }

  #imgTodoModa{
    margin-left: 10px;
  }

  #imgMiAuto{
    margin-left: 10px;
  }