body {
    margin: 0;
    background-color: cadetblue;
}
#infoInfracciones{
    background-color: rgb(114, 95, 160);
}
#ingresePatente{
    background-color: rgb(31, 201, 40);
}
#contForm {
    position: absolute;
    top: 60px;
    margin-left: 10px;
}

#btnverDeposito{
    background-color: rgb(218, 24, 24);
    position: absolute;
    top: 100px;
    margin-left: 500px;
}